.discover{
    padding: .5rem 1rem;
    transition: all .3s ease-in;
    z-index: 222222;
}

.discover:hover{
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    border-radius: .3rem;
}

/* @media screen and (max-width: 35em) {
    .discover{
        width: 80%;
    }
} */