.author{
    width: 100%;
}

.author_box{
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin-top: 6rem;
}

@media screen and (max-width:35em) {
    .author_box{
        width: 90%;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:35em) and (max-width:64em) {
    .authorNFTCardBox_box{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
}